<div class="page-wrapper">
  <div class="header">
    <learning-analytics-cockpit-header></learning-analytics-cockpit-header>
  </div>

  <div class="main overflow-auto">
    <ng-content select="[main]"> </ng-content>
  </div>

  <div class="sidebar hidden sm:block">
    <learning-analytics-cockpit-sidebar></learning-analytics-cockpit-sidebar>
  </div>
</div>
