*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.page-wrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    row-gap: 0;
    column-gap: 0;
    grid-template-columns: 1fr auto;
    grid-template-rows: min(48px) 1fr;
    grid-template-areas:
      'hd hd'
      'main sb';
  }

  .header {
    margin: 0;
    padding: 0;
    grid-area: hd;
  }

  .sidebar {
    grid-area: sb;
  }

  .main {
    max-height: calc(100vh - 48px);
    grid-area: main;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
