<div
  class="w-full min-h-0"
  [ngClass]="{
    'pb-4 px-0 bg-secondary-light cursor-pointer': step === 'STUDY',
    'py-0 px-0 cursor-default': step === 'COURSE'
  }"
  (click)="selectCourse(course); $event.stopPropagation()"
>
  <!-- Course -->
  <ng-container *ngIf="step === 'COURSE' && selectedCourse === course._id">
    <div class="w-full h-full bg-secondary-light p-4">
      <div
        class="w-full space-x-2"
        [ngClass]="{ 'text-lg font-semibold pb-4': step === 'COURSE' }"
      >
        <span class="w-6">{{ course.courseCondition.subject.nr }} </span>
        <span class="w-full" *ngIf="isLecture || step === 'COURSE'">{{
          course.courseCondition.name
        }}</span>
      </div>
      <div class="flex">
        <div class="w-2/3 flex flex-col gap-y-4">
          <div class="flex justify-between w-4/5">
            <span>
              Betreuer: {{ professor?.firstName }} {{ professor?.lastName }}
            </span>
            <ng-container
              *ngIf="course.courseCondition.teachingFormat as teachingFormat"
            >
              <span>
                Lehrform: {{ teachingFormat.lecturesPerWeek }} V /
                {{ teachingFormat.exercisesPerWeek }} Ü /
                {{ teachingFormat.practicesPerWeek }} P
              </span>
            </ng-container>
          </div>

          <div>
            <ul class="flex">
              <li
                class="tab"
                [ngClass]="{ 'tab-active': tabSelected === 'LECTURE' }"
                (click)="tabSelected = 'LECTURE'"
              >
                <a>Vorlesungen</a>
              </li>
              <li
                class="tab"
                [ngClass]="{ 'tab-active': tabSelected === 'EXERCICE' }"
                (click)="tabSelected = 'EXERCICE'"
              >
                <a>Übungen</a>
              </li>
              <li
                class="tab"
                [ngClass]="{ 'tab-active': tabSelected === 'PRACTICE' }"
                (click)="tabSelected = 'PRACTICE'"
              >
                <a>Praktika</a>
              </li>
            </ul>

            <div class="bg-white w-4/5">
              <div class="flex flex-col gap-y-2 pt-6 pb-4 px-4">
                <ng-container [ngSwitch]="tabSelected">
                  <ng-container *ngSwitchCase="'LECTURE'">
                    <ng-container
                      *ngFor="let item of lectures; let first = first"
                    >
                      <div
                        class="flex justify-between px-4 py-2 gap-x-4 bg-white shadow"
                      >
                        <span> {{ item.name }} </span>
                        <span> {{ item.date | date : 'dd.MM.yy' }} </span>
                        <input type="radio" name="" id="" />
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'EXERCICE'">
                    <ng-container
                      *ngFor="let item of exercices; let first = first"
                    >
                      <div
                        class="flex justify-between px-4 py-2 gap-x-4 bg-white shadow"
                      >
                        <span> {{ item.name }} </span>
                        <span> {{ item.date | date : 'dd.MM.yy' }} </span>
                        <input type="radio" name="" id="" />
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'PRACTICE'">
                    <ng-container
                      *ngFor="let item of practices; let first = first"
                    >
                      <div
                        class="flex justify-between px-4 py-2 gap-x-4 bg-white shadow"
                      >
                        <span> {{ item.name }} </span>
                        <span> {{ item.date | date : 'dd.MM.yy' }} </span>
                        <input type="radio" name="" id="" />
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="w-1/3 flex flex-col gap-y-4">
          <div class="flex justify-between">
            <learning-analytics-cockpit-icon-card
              [symbol]="'Ø'"
              [isIcon]="false"
              [value]="getGrade()"
              [text]="'Aktuell'"
              [size]="'MEDIUM'"
            >
            </learning-analytics-cockpit-icon-card>
            <learning-analytics-cockpit-icon-card
              [symbol]="'Ø'"
              [isIcon]="false"
              [value]="getExpectedGrade()"
              [text]="'Wunsch'"
              [size]="'MEDIUM'"
            >
            </learning-analytics-cockpit-icon-card>
            <learning-analytics-cockpit-icon-card
              [symbol]="'difference'"
              [isIcon]="true"
              [value]="getGradeDiff()"
              [text]="'Abweich.'"
              [size]="'MEDIUM'"
            >
            </learning-analytics-cockpit-icon-card>
          </div>

          <!-- Exams -->
          <ng-container *ngFor="let exam of exams">
            <div class="flex rounded bg-white">
              <div
                class="w-4 px-2 bg-white rounded-l"
                [ngClass]="{
                  '!bg-exam-sp': exam.type === 'SP',
                  '!bg-exam-mp': exam.type === 'MP',
                  '!bg-exam-apl': exam.type === 'APL',
                  '!bg-exam-pvl': exam.type === 'PVL'
                }"
              >
                <span>&#8203;</span>
              </div>
              <div class="w-full py-2 px-2 flex flex-col">
                <div class="w-full">
                  <span class="font-semibold">
                    <ng-container [ngSwitch]="exam.type">
                      <span *ngSwitchCase="'SP'">Schriftliche Prüfung</span>
                      <span *ngSwitchCase="'MP'">Mündliche Prüfung</span>
                      <span *ngSwitchCase="'APL'"
                        >Alternative Prüfungsleistung</span
                      >
                      <span *ngSwitchCase="'PVL'">Prüfungsvorleistung</span>
                    </ng-container>
                  </span>
                </div>

                <div *ngIf="exam.weighting > 0" class="mt-2 flex gap-x-2">
                  <span>Gewichtung: </span>
                  <span> {{ exam.weighting }}% </span>
                </div>

                <div class="mt-4 flex flex-col gap-y-4" *ngIf="exam.result">
                  <div class="flex justify-start gap-x-12">
                    <div class="w-1/4 flex items-center align-middle space-x-2">
                      <span class="material-symbols-outlined"> explore </span>
                      <span> {{ exam.result.exam.location }} </span>
                    </div>

                    <div class="flex items-center align-middle space-x-2">
                      <span class="material-symbols-outlined"> schedule </span>
                      <span>
                        {{ exam.result.exam.date | date : 'dd.MM. - HH:mm' }}
                      </span>
                    </div>
                  </div>

                  <div class="flex justify-start gap-x-12">
                    <div class="w-1/4 flex items-center align-middle space-x-2">
                      <span class="material-symbols-outlined"> groups </span>
                      <span>
                        {{ exam.result.exam.registeredParticipants }}
                      </span>
                    </div>

                    <div class="flex items-center align-middle space-x-2">
                      <span class="material-symbols-outlined"> history </span>
                      <span>
                        {{ exam.result.exam.examCondition.durationInMinutes }}
                        Min.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div></div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Semester -->
  <ng-container *ngIf="selectedSemester && step !== 'COURSE'">
    <div class="flex ">
      <div
        class="w-4 bg-secondary-light"
        [ngClass]="{
          'bg-status-success': course.examResult?.status === 'PASSED',
          'bg-status-failed': course.examResult?.status === 'NOT_PASSED',
          'bg-status-repeat': course.examResult?.tries! > 1
        }"
      >
        &#8203;
      </div>
      <div
        class="flex flex-col bg-secondary-light px-4 py-2"
        [style.width]="getWidthByHours(course)"
      >
        <div class="w-full space-x-2  whitespace-nowrap">
          <span class="w-6">{{ course.courseCondition.subject.nr }} </span>
          <span class="w-full" *ngIf="isLecture">{{
            course.courseCondition.name
          }}</span>
        </div>
        <div>
          <span> </span>
        </div>
        <div class="mt-4" *ngIf="isLecture">
          <div class="flex gap-2">
            <learning-analytics-cockpit-icon-card
              [symbol]="'Ø'"
              [isIcon]="false"
              [value]="getGrade()"
              [text]="'Aktuell'"
            >
            </learning-analytics-cockpit-icon-card>
            <learning-analytics-cockpit-icon-card
              [symbol]="'Ø'"
              [isIcon]="false"
              [value]="getExpectedGrade()"
              [text]="'Wunsch'"
            >
            </learning-analytics-cockpit-icon-card
            ><learning-analytics-cockpit-icon-card
              [symbol]="'update'"
              [isIcon]="true"
              [value]="course.courseCondition.workLoad + course.courseCondition.selfStudyTime + 'h'"
              [text]="'Wunsch'"
            >
            </learning-analytics-cockpit-icon-card>
          </div>
          <span class=""> </span>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Study -->
  <ng-container *ngIf="!selectedSemester && step !== 'COURSE'">
    <div class="flex flex-col">
      <div
        class="h-4 bg-secondary-light"
        [ngClass]="{
          'bg-status-success': course.examResult?.status === 'PASSED',
          'bg-status-failed': course.examResult?.status === 'NOT_PASSED',
          'bg-status-repeat': course.examResult?.tries! > 1
        }"
      >
        <span>&#8203; </span>
      </div>
      <div
        [smoothHeight]="!selectedSemester"
        class="flex flex-col bg-secondary-light pt-2"
        [style.height]="getHeightByHours(course)"
      >
        <div class="py-1 h-14">
          <span class="font-semibold vertical-text">{{
            step === 'STUDY' ? course.courseCondition.subject.nr : '&#8203;'
          }}</span>
        </div>

        <div class="py-1">
          <span class="font-semibold vertical-text">{{
            step === 'STUDY'
              ? course.courseCondition.credits + ' Credits'
              : '&#8203;'
          }}</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
