.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.tab {
  @apply cursor-pointer px-2 py-2 rounded-t-lg bg-tertiary-light text-secondary opacity-90 mr-1;
  @apply hover:text-black hover:bg-white transition-colors ease-in-out duration-300;
}

.tab-active {
  @apply opacity-100 text-black bg-white;
}
