<div class="w-full flex flex-col" (click)="selectSemester()">
  <!--
      '!bg-primary text-white':
        ['SEMESTER', 'COURSE'].includes(step) && selected, -->
  <div
    class="bg-primary text-white py-2 px-4"
    [ngClass]="{'!bg-primary-light':
    ['SEMESTER', 'COURSE'].includes(step) && !selected,
      '!py-4': step === 'SEMESTER' && selected
    }"
  >
    <div class="flex justify-between">
      <div>
        <span
          class="whitespace-nowrap"
          [ngClass]="{
            'text-xs font-normal': step === 'SEMESTER' && !selected,
            'text-lg font-semibold': step === 'SEMESTER' && selected
          }"
        >
          {{ semester.name }}</span
        >
      </div>

      <div *ngIf="step === 'SEMESTER' && selected" class="flex gap-x-12">
        <div class="flex gap-x-2">
          <learning-analytics-cockpit-icon-card
            [symbol]="'check_circle'"
            [isIcon]="true"
            [value]="semester.achievedCredits"
            [text]="'Erreicht'"
            [size]="'MEDIUM'"
          >
          </learning-analytics-cockpit-icon-card>
          <learning-analytics-cockpit-icon-card
            [symbol]="'lens'"
            [isIcon]="true"
            [value]="semester.credits"
            [text]="'Gesamt'"
            [size]="'MEDIUM'"
          >
          </learning-analytics-cockpit-icon-card>
        </div>

        <learning-analytics-cockpit-icon-card
          [symbol]="'Ø'"
          [isIcon]="false"
          [value]="semester.grade ?? '/'"
          [text]="'Aktuell'"
          [size]="'MEDIUM'"
        >
        </learning-analytics-cockpit-icon-card>
      </div>
    </div>
  </div>

  <ng-container *ngIf="step !== 'SEMESTER'">
    <div
      class="w-full flex justify-start gap-x-2"
      [ngClass]="{
        '!justify-start': semester.courses.length < 3,
        'gap-x-0': step === 'COURSE'
      }"
    >
      <ng-container *ngFor="let course of semester?.courses; let j = index">
        <learning-analytics-cockpit-course
          class="min-w-0"
          [ngClass]="{
            'w-0 h-0': step === 'COURSE' && selectedCourse !== course._id,
            'w-full': step === 'COURSE' && selectedCourse === course._id
          }"
          [course]="course"
          [step]="step"
          [selectedCourse]="selectedCourse"
          [isLecture]="isLecture"
          (courseSelected)="selectCourse($event)"
          (stepSelected)="selectStep($event)"
          [smoothHeight]="step"
        >
          <!-- [smoothWidth]="step" -->
        </learning-analytics-cockpit-course>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="step === 'SEMESTER' && selected">
    <div class="flex w-full">
      <!-- [ngClass]="{ 'w-4/5': isLecture, 'w-1/5': !isLecture }" -->
      <!-- [smoothWidth]="isLecture" -->
      <div
        class="flex flex-col"
        [@switchTimeslot]="isLecture ? 'big' : 'small'"
        (click)="toggleLecturePeriod(true)"
      >
        <div class="h-10 bg-secondary-light px-4 py-2">
          <div class="flex flex-col">
            <div class="flex justify-between">
              <span *ngIf="isLecture">
                {{ semester.lecturePeriod.from | date : 'dd.MM.yyyy' }}
              </span>
              <span> Vorlesungszeit </span>
              <span *ngIf="isLecture">
                {{ semester.lecturePeriod.to | date : 'dd.MM.yyyy' }}
              </span>
            </div>
          </div>
        </div>
        <div class="flex w-full">
          <!-- <div class="w-4 bg-secondary-light">.</div> -->
          <div class="w-full flex flex-col mt-0 gap-y-0">
            <ng-container
              *ngFor="let course of semester?.courses; let j = index"
            >
              <div
                [@appear]="open ? 'in' : 'out'"
                class="h-2 w-4 bg-secondary-light"
              >
                &#8203;
              </div>
              <learning-analytics-cockpit-course
                [@appear]="open ? 'in' : 'out'"
                [index]="j"
                [course]="course"
                [step]="step"
                [selectedSemester]="selected"
                [selectedCourse]="selectedCourse"
                [isLecture]="isLecture"
                (courseSelected)="selectCourse($event)"
                (stepSelected)="selectStep($event)"
                [id]="semester.name + course._id"
              >
              </learning-analytics-cockpit-course>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- [smoothWidth]="isLecture" -->
      <!-- [ngClass]="{ 'w-1/5': isLecture, 'w-4/5': !isLecture }" -->
      <div
        [@switchTimeslot]="!isLecture ? 'big' : 'small'"
        (click)="toggleLecturePeriod(false)"
        class="flex flex-col h-full"
      >
        <div
          class="w-full h-10 bg-status-failed px-4 py-2"
          [id]="'exam_period' + semester.name"
        >
          <div class="flex justify-between">
            <span *ngIf="!isLecture">
              {{ semester.examinationPeriod.from | date : 'dd.MM.yyyy' }}
            </span>
            <span> Prüfungszeit </span>
            <span *ngIf="!isLecture">
              {{ semester.examinationPeriod.to | date : 'dd.MM.yyyy' }}
            </span>
          </div>
        </div>
        <div class="h-full flex flex-col relative">
          <ng-container *ngFor="let exam of semester.exams">
            <learning-analytics-cockpit-exam
              class="h-full"
              [semester]="semester"
              [exam]="exam"
              [selectedCourse]="selectedCourse"
              [isLecture]="isLecture"
            ></learning-analytics-cockpit-exam>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>
