<div class="w-full flex pt-8 pb-0">
  <div class="w-full h-3 bg-white relative" id="pb_total">
    <span
      *ngIf="!isAnimating"
      class="bottom-4 absolute transition-transform ease-in duration-200"
      [style.left]="getSuccessX()"
    >
      {{ success }}
    </span>
    <div
      class="h-3 bg-status-failed absolute"
      [style.width]="failedWidthInPx"
      [style.left]="successWidthInPx"
      [smoothWidth]="successWidthInPx"
      id="pb_failed"
    ></div>
    <span
      *ngIf="!isAnimating"
      class="bottom-4 absolute transition-all ease-in duration-200"
      [style.left]="getFailedX()"
    >
      {{ failed }}
    </span>
    <div
      class="h-3 bg-status-success absolute"
      [style.width]="successWidthInPx"
      [smoothWidth]="successWidthInPx"
      id="pb_success"
    ></div>
    <span
    *ngIf="!isAnimating"
    class="bottom-4 absolute transition-all ease-in duration-200"
    [style.left]="getTotalX()"
  >
    {{ total }}
  </span>
  </div>
</div>
