<div class="min-h-0 h-2" [ngClass]="{ '!h-4': isLecture }">
  <span>&#8203;</span>
</div>

<div
  [@appear]="!isLoading ? 'in' : 'out'"
  [id]="exam._id + 'space'"
  class="bg-exam-sp absolute px-4 py-2"
>
  <span class="whitespace-nowrap z-20" [ngClass]="{ hidden: isLecture }"
    >{{ exam.exam.date | date : 'dd.MM - HH:mm' }} Uhr
  </span>
  <div class="bg-grey px-0 py-0 h-2 w-1 absolute right-0 -top-2 z-0">
    &#8203;
  </div>
</div>

<div [id]="exam._id" class="min-h-0 h-10" [ngClass]="{ '!h-4': isLecture }">
  <span>&#8203;</span>
</div>
