
<div class="flex flex-col p-2 gap-y-4">
  <learning-analytics-cockpit-upcoming-events></learning-analytics-cockpit-upcoming-events>
  <learning-analytics-cockpit-calendar-daily></learning-analytics-cockpit-calendar-daily>
</div>
