<div class="space-y-6 px-12 py-4">

    <div>
        typeface: Arial, sans-serif
        font: Arial Regular
    </div>

    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
  
    <div>
      <a href="">Link</a>
    </div>
  
    <div>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit amet.
      </p>
    </div>
  
    <div class="flex flex-row ml-12 space-x-12">
      <div>
        <ol>
          <li>Ordered List Item 1</li>
          <li>Ordered List Item 2</li>
          <li>Ordered List Item 3</li>
        </ol>
      </div>
  
      <div>
        <ul>
          <li>Unordered List Item 1</li>
          <li>Unordered List Item 2</li>
          <li>Unordered List Item 3</li>
        </ul>
      </div>
    </div>
  
    <div class="flex flex-row space-x-4">
      <div>
        <button>Button Primary</button>
      </div>
  
      <div>
        <button class="button-full">Button Secondary</button>
      </div>
  
      <div>
        <button disabled>Button Disabled</button>
      </div>
    </div>
  </div>


<div class="max-w-xl mx-auto py-12 md:max-w-4xl">
  <h2 class="text-2xl font-bold">Forms</h2>
  <p class="mt-2 text-lg text-gray-500"></p>
  <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-6 items-start">
    <div class="grid grid-cols-1 gap-6">
      <label class="block">
        <span class="text-gray-700">Input (text)</span>
        <input
          type="text"
          class="form-input mt-1 block w-full"
          placeholder="john@example.com"
        />
      </label>
      <label class="block">
        <span class="text-gray-700">Input (email)</span>
        <input
          type="email"
          class="form-input mt-1 block w-full"
          placeholder="john@example.com"
        />
      </label>
      <label class="block">
        <span class="text-gray-700">Input (email, multiple)</span>
        <input
          type="email"
          multiple
          class="form-input mt-1 block w-full"
          placeholder="john@example.com"
        />
      </label>
      <label class="block">
        <span class="text-gray-700">Input (password)</span>
        <input
          type="password"
          class="form-input mt-1 block w-full"
          placeholder="john@example.com"
        />
      </label>
      <label class="block">
        <span class="text-gray-700">Input (date)</span>
        <input type="date" class="form-input mt-1 block w-full" />
      </label>
      <label class="block">
        <span class="text-gray-700">Input (datetime-local)</span>
        <input type="datetime-local" class="form-input mt-1 block w-full" />
      </label>
      <label class="block">
        <span class="text-gray-700">Input (month)</span>
        <input type="month" class="form-input mt-1 block w-full" />
      </label>
      <label class="block">
        <span class="text-gray-700">Input (number)</span>
        <input type="number" class="form-input mt-1 block w-full" />
      </label>
      <label class="block">
        <span class="text-gray-700">Input (search)</span>
        <input type="search" class="form-input mt-1 block w-full" />
      </label>
      <label class="block">
        <span class="text-gray-700">Input (time)</span>
        <input type="time" class="form-input mt-1 block w-full" />
      </label>
      <label class="block">
        <span class="text-gray-700">Input (week)</span>
        <input type="week" class="form-input mt-1 block w-full" />
      </label>
    </div>
    <div class="grid grid-cols-1 gap-6">
      <label class="block">
        <span class="text-gray-700">Input (tel)</span>
        <input
          type="tel"
          multiple
          class="form-input mt-1 block w-full"
          placeholder="john@example.com"
        />
      </label>
      <label class="block">
        <span class="text-gray-700">Input (url)</span>
        <input
          type="url"
          multiple
          class="form-input mt-1 block w-full"
          placeholder="john@example.com"
        />
      </label>
      <label class="block">
        <span class="text-gray-700">Select</span>
        <select class="form-select block w-full mt-1">
          <option>Option 1</option>
          <option>Option 2</option>
        </select>
      </label>
      <label class="block">
        <span class="text-gray-700">Select (multiple)</span>
        <select class="form-multiselect block w-full mt-1" multiple>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
          <option>Option 5</option>
        </select>
      </label>
      <label class="block">
        <span class="text-gray-700">Textarea</span>
        <textarea
          class="form-textarea mt-1 block w-full h-24"
          rows="3"
          placeholder="Enter some long form content."
        ></textarea>
      </label>
      <fieldset class="block">
        <legend class="text-gray-700">Checkboxes</legend>
        <div class="mt-2">
          <div>
            <label class="inline-flex items-center">
              <input class="form-checkbox" type="checkbox" checked />
              <span class="ml-2">Option 1</span>
            </label>
          </div>
          <div>
            <label class="inline-flex items-center">
              <input class="form-checkbox" type="checkbox" />
              <span class="ml-2">Option 2</span>
            </label>
          </div>
          <div>
            <label class="inline-flex items-center">
              <input class="form-checkbox" type="checkbox" />
              <span class="ml-2">Option 3</span>
            </label>
          </div>
        </div>
      </fieldset>
      <fieldset class="block">
        <legend class="text-gray-700">Radio Buttons</legend>
        <div class="mt-2">
          <div>
            <label class="inline-flex items-center">
              <input
                class="form-radio"
                type="radio"
                checked
                name="radio-direct"
                value="1"
              />
              <span class="ml-2">Option 1</span>
            </label>
          </div>
          <div>
            <label class="inline-flex items-center">
              <input
                class="form-radio"
                type="radio"
                name="radio-direct"
                value="2"
              />
              <span class="ml-2">Option 2</span>
            </label>
          </div>
          <div>
            <label class="inline-flex items-center">
              <input
                class="form-radio"
                type="radio"
                name="radio-direct"
                value="3"
              />
              <span class="ml-2">Option 3</span>
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>


