<div
  @appearCard
  class="bg-white rounded shadow text-black icon-card"
  [ngClass]="{ 'py-1 px-2': size === 'SMALL', 'py-2 px-4': size === 'MEDIUM' }"
>
  <div
    class="flex"
    [ngClass]="{
      'flex-row gap-x-1': size === 'SMALL',
      'flex-col gap-y-1': size === 'MEDIUM'
    }"
  >
    <div class="flex gap-x-1">
      <div class="px-2 rounded flex justify-center items-center">
        <span
          *ngIf="!isIcon; else icon"
          class="text-2xl font-semibold"
          [ngClass]="{ 'text-base': size === 'SMALL' }"
          >{{ symbol }}</span
        >
        <ng-template #icon>
          <span
            class="text-xl material-symbols-outlined"
            [ngClass]="{ 'text-base': size === 'SMALL' }"
          >
            {{ symbol }}
          </span>
        </ng-template>
      </div>
      <div
        class="self-end font-semibold w-12"
        [ngClass]="{
          'text-lg': size === 'SMALL',
          'text-2xl': size === 'MEDIUM'
        }"
      >
        <span> {{ value }} </span>
      </div>
    </div>

    <div
      class="self-center text-sm"
      [ngClass]="{
        hidden: size === 'SMALL'
      }"
    >
      <span> {{ text }} </span>
    </div>
  </div>
</div>
