<div class="w-full flex justify-between text-xs mb-2">
  <ng-container *ngFor="let sem of study?.semester">
    <span> {{ sem?.lecturePeriod?.from | date : 'dd.MM.yyyy' }} </span>
  </ng-container>
  <span> {{ (study?.period)!.to | date : 'dd.MM.yyyy' }} </span>
</div>

<div class="border border-tertiary py-1 px-4 w-full mb-2">
  <div id="timeline_content" class="w-full flex justify-between gap-x-2 relative p-2">

    <!-- Slider < -->
    <div [smoothWidth]="step" class="slider absolute h-0" [style.height]="getHeightOfSlider()" id="slider"></div>
    <!-- > Slider -->
    <ng-container *ngFor="let semester of study?.semester; let i = index">
      <div
        [id]="'semester' + i"
        class="w-full flex flex-col p-1"
        [ngClass]="{ relative: step === 'SEMESTER' && i === selectedSemester }"
      >
        <div class="bg-secondary-light min-w-0 w-full">&#8203;</div>

        <!-- Lecture Period -->
        <ng-container>
          <div class="flex w-full relative">

            <div class="flex flex-col w-4/5" [id]="'lecture' + i">
              <div class="bg-secondary-light min-w-0 min-h-0 h-2">
                <span>&#8203;</span>
              </div>
              <div class="w-full flex justify-start gap-x-2">
                <ng-container *ngFor="let course of semester?.courses; let j = index">
                  <div
                    [id]="course._id"
                    class="bg-secondary-light min-w-0 min-h-0 px-2"
                  >
                    <span>&#8203;</span>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="flex flex-col w-1/5"  [id]="'exam' + i">
              <div class="h-2 bg-status-failed">
                <span>&#8203;</span>
              </div>
              <div class="flex flex-col">
                <ng-container *ngFor="let exam of semester?.exams; let e = index">
                  <div
                    [id]="exam._id + 'timeline'"
                    class="bg-secondary-light w-2 h-1 relative"
                    [style.left]="(e + 1) * 4 + 'px'"
                    [style.margin-top]="'1px'"
                  >
                    <span>&#8203;</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<!--

          [ngClass]="{
            hidden: step === 'SEMESTER' && i !== selectedSemester,
            'top-0 left-0 w-full h-full': true,
            'w-4/5': step === 'SEMESTER' && isLecture,
            'left-40 w-1/5': step === 'SEMESTER' && !isLecture
          }"

        [ngClass]="{
          'w-0':
            step === 'SEMESTER' &&
            i !== selectedSemester &&
            i - 1 !== selectedSemester &&
            i + 1 !== selectedSemester,
          'flex-1': step !== 'SEMESTER',
          'w-full px-2': step === 'SEMESTER' && i === selectedSemester,
          'w-1/12':
            step === 'SEMESTER' &&
            (i - 1 === selectedSemester || i + 1 === selectedSemester)
        }" -->
