<learning-analytics-cockpit-layout>
  <div main>
    <div class="w-full h-full p-2" id="all">
      <learning-analytics-cockpit-timeline
        [step]="step"
        [study]="study"
        [selectedSemester]="selectedSemester"
        [selectedCourse]="selectedCourse"
        [isLecture]="isLecture"
      >
      </learning-analytics-cockpit-timeline>
      <learning-analytics-cockpit-study
        [step]="step"
        [study]="study"
        [user]="currentUser"
        (click)="selectStudy()"
      >
      </learning-analytics-cockpit-study>
      <div
        class="w-full flex gap-x-2"
        [ngClass]="{ 'gap-x-0': ['SEMESTER', 'COURSE'].includes(step)}"
      >
        <ng-container
          *ngFor="
            let semester of study?.semester;
            let i = index;
            let last = last;
            let first = first
          "
        >
          <ng-container *ngIf="first"> </ng-container>
          <!--
            *ngIf="
              !(
                step === 'SEMESTER' &&
                i - 1 !== selectedSemester &&
                  i !== selectedSemester &&
                  i + 1 !== selectedSemester
              )
            " -->
          <learning-analytics-cockpit-semester
            class="min-w-0 cursor-pointer"
            [id]="semester.name"
            [@size]="getSize(i)"
            [ngClass]="{
              'w-full': step !== 'SEMESTER' && step !==  'COURSE',
              'px-2': step === 'SEMESTER' && i === selectedSemester,
              'min-height': step === 'SEMESTER'
            }"
            [semester]="semester"
            [step]="step"
            [selected]="i === selectedSemester"
            [selectedCourse]="selectedCourse"
            [isLecture]="isLecture"
            (semesterSelected)="selectSemester($event)"
            (courseSelected)="selectCourse($event)"
            (stepSelected)="step = $event"
            (isLectureSelected)="changeLecturePerion($event)"
            >
          </learning-analytics-cockpit-semester>
        </ng-container>
      </div>
    </div>
  </div>
</learning-analytics-cockpit-layout>
