<div class="z-50 h-full bg-secondary-dark px-4">
  <div class="flex h-full justify-between items-center align-middle text-white">
    <div
      class="left w-32 text-white hover:text-primary cursor-pointer"
      [routerLink]="'/'"
    >
      LEAC
    </div>
    <div class="block sm:hidden left w-32">
      <!-- <span class="material-symbols-outlined"> menu </span> -->
    </div>
  </div>
</div>
