<div class="p-4 shadow rounded-sm">
  <h2>Anstehende Termine</h2>
  <hr class="text-secondary-light my-2" />
  <div class="flex flex-col gap-y-2 py-2">
    <ng-container *ngFor="let event of upcomingEvents">
      <div
        class="py-2 px-4 rounded-sm flex justify-between gap-x-8 text-sm cursor-pointer hover:opacity-80"
        [ngClass]="{
          'bg-exam-sp': event.type === 'SP',
          'bg-exam-mp': event.type === 'MP',
          'bg-exam-apl': event.type === 'APL',
          'bg-exam-pvl': event.type === 'PVL'
        }"
      >
        <span> {{ event.description }} </span>
        <span> {{ event.date | date : 'dd.MM' }} </span>
      </div>
    </ng-container>
  </div>
</div>
