<div class="block max-w-sm p-4 shadow rounded-sm">
  <div class="flex justify-between items-center p-2">
    <div class="flex gap-x-1">
      <div class="chevron-wrapper" (click)="changeDay(false)">
        <span class="chevron"><</span>
      </div>
      <div class="chevron-wrapper" (click)="changeDay(true)">
        <span class="chevron">></span>
      </div>
    </div>
    <p class="select-none">{{ date | date : 'dd.MM.yyyy' }}</p>
  </div>

  <div class="flex text-sm scroll-container max-h-96 mt-6">
    <div class="flex flex-col w-full">
      <ng-container *ngFor="let slot of dataDisplay; let hourSlotIndex = index">
        <div class="h-4 flex">
          <span class="w-10 px-1 text-right text-xs pr-2">
            {{ hourSlotIndex % 4 === 0 ? slot.slot.name : '&#8205;' }}</span
          >
          <div class="h4 flex-grow flex px-1">
            <div
              *ngFor="let item of slot.events"
              class="min-w-0 w-full border-b border-white"
              [ngClass]="{
                'border-t border-t-secondary-light': hourSlotIndex % 4 === 0,
                '!border-events-lecture bg-events-lecture':
                  item?.event?.type === 'LECTURE',
                '!border-events-exercise bg-events-exercise':
                  item?.event?.type === 'EXERCICE',
                '!border-events-practice bg-events-practice':
                  item?.event?.type === 'PRACTICE',
                'rounded-t-lg': item?.start,
                'rounded-b-lg': item?.end
              }"
              [title]="item?.event?.name ? item?.event?.name : ''"
            >
              <span *ngIf="item?.start" class="p-2 text-white">{{
                item?.event?.time?.start
              }}</span>
              <!-- <p *ngIf="item?.start">{{item?.event?.name}}</p> -->
              <!-- <span *ngIf="item?.end" class="p-2">{{item?.event?.time?.end}}</span> -->
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
