.scroll-container {
  scroll-behavior: smooth;
  max-height: 550px;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chevron-wrapper {
  @apply flex justify-center align-middle items-center rounded-md cursor-pointer hover:bg-white hover:shadow-md p-1.5;
  .chevron {
    @apply text-xl font-bold leading-4 select-none;
  }
}
