<div
  class="w-full !bg-primary-dark"
  [ngClass]="{ 'bg-primary-dark cursor-pointer': step !== 'STUDY' }"
  [id]="'stu'"
>
  <div
    class="w-full px-4 py-2 text-white"
    [ngClass]="{ '!py-4': step === 'STUDY' }"
    [smoothHeight]="step !== 'STUDY'"
  >
    <div class="w-full flex justify-between">
      <div class="w-full flex flex-col gap-y-2">
        <span [ngClass]="{ 'text-lg font-semibold': step === 'STUDY' }">
          {{ study?.data?.nr }} - {{ study?.data?.name }}</span
        >
        <div *ngIf="step === 'STUDY'" class="flex flex-col w-1/4">
          <div class="flex justify-between">
            <span>Immatrikuliert:</span>
            <span>{{ study?.period?.from | date : 'dd.MM.yyyy' }}</span>
          </div>
          <div class="flex justify-between">
            <span>Abschluss: </span>
            <span>{{ study?.period?.to | date : 'dd.MM.yyyy' }}</span>
          </div>
        </div>
      </div>

      <div *ngIf="step === 'STUDY'" class="flex gap-x-2">
        <learning-analytics-cockpit-icon-card
          [symbol]="'Ø'"
          [isIcon]="false"
          [value]="study?.data?.grade!"
          [text]="'Aktuell'"
          [size]="'MEDIUM'"
        >
        </learning-analytics-cockpit-icon-card>
        <learning-analytics-cockpit-icon-card
          [symbol]="'Ø'"
          [isIcon]="false"
          [value]="1.7"
          [text]="'Wunsch'"
          [size]="'MEDIUM'"
        >
        </learning-analytics-cockpit-icon-card>
        <learning-analytics-cockpit-icon-card
          [symbol]="'difference'"
          [isIcon]="true"
          [value]="0.7"
          [text]="'Abweich.'"
          [size]="'MEDIUM'"
        >
        </learning-analytics-cockpit-icon-card>
      </div>
    </div>

    <div *ngIf="step === 'STUDY'" class="mt-4">
      <learning-analytics-cockpit-progress-bar
        [total]="study?.data?.requiredCredits!"
        [success]="study?.data?.achievedCredits!"
        [failed]="study?.data?.failedCredits!"
      ></learning-analytics-cockpit-progress-bar>
    </div>
  </div>
</div>
